html,body{
	/*background: red;*/
	color: #fff;
	height: 100%;
	width: 100%;
}
h1{
	height: 30px;
	line-height: 30px;
	font-weight: 700;
}
h3{
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
.header{
	box-sizing: border-box;
	padding: 7px 24px;
}
